@tailwind base;
@tailwind components;
@tailwind utilities;

/*
	lightest: 100
	lighter: 400
	light: 500
	main: 600
	dark: 700
	darker: 800
	darkest: 950

*/
@layer base{
	:root {
		--red: 0;
		--yellow: 90;
		--green: 140;
		--blue: 210;
		--purple: 300;

	}

	div{
		box-sizing: border-box;
	}

	ul{
		list-style-type: none;
	}

	button:focus { outline: none; }
}
